apache-airflow
apache-airflow-providers-apache-spark
beautifulsoup4
pydantic
numpy
selenium
splinter
webdriver-manager
snowflake-connector-python
pyspark
snowflake-ml-python
snowflake-snowpark-python
snowflake
fsspec
cryptography
